.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  height: 74px;
  width: 100%;
  max-width: 1280px;
  box-sizing: border-box;
  /* position: absolute; */
  top: 0;
  background-color: transparent;
  margin: 0;
  gap: 44px;
  background-color: #202020;
}
.header_adress_main {
  background-color: #073042;
}
.header__logo {
  height: 38px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  transition: .3s;
  margin: 0;
  padding: 0;
  width: 38px;
}
.header__logo:hover {
  opacity: .6;
}
/* media */
@media screen and (max-width: 1279px) {
  .header {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 767px) {
  .header {
    padding: 18px 14px;
  }
}

