.login {
  margin: 0;
  padding: 0 0 70px;
  box-sizing: border-box;
}
.login__question {
  font-size: 14px;
  line-height: 17px;
  font-weight: normal;
  color: #A0A0A0;
  margin: 0;
  padding: 0;
  text-align: center;
}
.login__link {
  color: #3456F3;
  transition: .3s;
  cursor: pointer;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.login__link:hover {
  opacity: .6;
}
/* media */
@media screen and (max-width: 1279px) {
  .login {
    padding: 0 0 232px;
  }
}
@media screen and (max-width: 767px) {
  .login {
    padding: 0 0 30px;
  }
}
@media screen and (max-width: 767px) {
  .login__question {
    font-size: 12px;
    line-height: 15px;
  }
}
