.moviesCard {
  margin: 0;
  padding: 0;
}
.moviesCard__image {
  background-image: url(../../images/A\ dog\ called\ money.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0 10px;
  width: 270px;
  height: 151px;
  padding: 0;
}
.moviesCard__nameLikeGroup {
  margin: 0 0 25px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.moviesCard__name {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  font-weight: 500;
}
.moviesCard__like {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  background-color: #202020;
  border: 0;
  background-image: url(../../images/like_active.svg);
  background-repeat: no-repeat;
  transition: .3s;
  cursor: pointer;
  background-position: center;
}
.moviesCard__like:hover {
  opacity: .6;
}
.moviesCard__bottom {
  margin: 0;
  padding: 0;
}
.moviesCard__duration {
  margin: 6px 0 0;
  padding: 0;
  font-size: 11px;
  line-height: 13px;
  font-weight: normal;
  color: #A0A0A0;
}
/* media */
@media screen and (max-width: 1279px) {
  .moviesCard__image {
    width: 339px;
    height: 190px;
  }
}
@media screen and (max-width: 767px) {
  .moviesCardList__cards {
    grid-template-columns: repeat(1, minmax(min-content, 1fr));
    gap: 34px;
  }
}
@media screen and (max-width: 1279px) {
  .moviesCard__image {
    width: 300px;
    height: 168px;
  }
}
@media screen and (max-width: 1279px) {
  .moviesCard__name {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 1279px) {
  .moviesCard__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
